<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShowComposer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <applicationSettings>
        <ShowComposer.Properties.Settings>
            <setting name="AudioPlaybackOneOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaveformDatabase" serializeAs="String">
                <value>waveform.db3</value>
            </setting>
            <setting name="SqlitePackage" serializeAs="String">
                <value>System.Data.SQLite, Version=1.0.103.0</value>
            </setting>
            <setting name="VLCVersion" serializeAs="String">
                <value>2.2.6</value>
            </setting>
            <setting name="VLCSystemPath" serializeAs="String">
                <value>progra~1\videolan\vlc\vlc.exe</value>
            </setting>
            <setting name="WMPSystemPath" serializeAs="String">
                <value>progra~1\Windows Media Player\wmplayer.exe</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDraggingModifierKey" serializeAs="String">
                <value>False</value>
            </setting>
        </ShowComposer.Properties.Settings>
    </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite,&#xD;&#xA;                 Version=1.0.103.0, Culture=neutral,&#xD;&#xA;                 PublicKeyToken=db937bc2d44ff139"

                                                 />
    </DbProviderFactories>
  </system.data>

</configuration>
